<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<client>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/LetsGoBiking/WebProxyService"
    binding="basicHttpBinding" bindingConfiguration="SoapEndPnt"
    contract="WebProxyService.IJCDecauxService" name="SoapEndPnt" />
  </client>
		<diagnostics performanceCounters="Default" />
		<bindings>
   <basicHttpBinding>
    <binding name="SoapEndPnt" />
   </basicHttpBinding>
  </bindings>
		<services>
			<service name="RoutingWithBikes.ItineraryService">
				<endpoint name="soap" address="soap" binding="basicHttpBinding" contract="RoutingWithBikes.IItineraryService" />
				<endpoint name="rest" address="rest" binding="webHttpBinding" behaviorConfiguration="http" contract="RoutingWithBikes.IItineraryService" />
				<endpoint name="MexEndPnt" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/ItineraryService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="http">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>